<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Appointment</title>
</head>
<body>
Appointment ID: <p th:text="${appointment.ID}"></p>
Appointment complaint: <p th:text="${appointment.complaint}"></p>
Appointment diagnosis: <p th:text="${appointment.diagnosis}"></p>
Doctor ID: <p th:text="${doctor.ID}"></p>
Doctor name: <p th:text="${doctor.name}"></p>
Patient ID: <p th:text="${patient.patientID}"></p>
Patient name: <p th:text="${patient.patientName}"></p>
Date: <p th:text="${appointment.date}"></p>


</body>
</html>