<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Returning appointments</title>
</head>
<body style="background-color:#98AFC7; text-align:center;">
<h1 style="text-align:center;">Appointment Details</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<br>
<table class="center">
    <thead>
    <tr>
        <th style="font-size:20px;">Appointment ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td style="text-align:center">
            <a th:href="@{/appointment/__${appointment.ID}__}" th:text="${appointment.ID}"></a>
        </td>
    </tr>
    </tbody>

</table>

<a href="/">Back to Main Page</a>

</body>
</html>
<style>
table, th, td {
  width:100px;
  size:20px;
  border: 2px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>