<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book new appointment</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Slots</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="slot : ${slots}">
        <td>
            <p th:text="${slot.id}"></p>
            <p th:text="${slot.start_time}"></p>
            <p th:text="${slot.end_time}"></p>
        </td>
    </tr>
    </tbody>

</table>
<form method="post">
    <input type="hidden" name="docID" th:value="${appointment.docID}">
    <p>Please select a timing from the above timings only</p>
    <input type="number" name="slot" th:value="${appointment.slot}">
    <p>Please only enter a valid patient ID</p>
    <input type="number" name="patientID" th:value="${appointment.patientID}">
    <p>Enter your complaint: </p>
    <input type="text" name="complaint" th:value="${appointment.complaint}">
    <p>Enter diagnosis (after appointment terminates)</p>
    <input type="text" name="diagnosis" th:value="${appointment.diagnosis}">
    <br>
    <button type="submit">Submit</button>

</form>
</body>
</html>