<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Payment Success</title>
</head>
<body style="background-color:#98AFC7; text-align:center;">
<h1 style="text-align:center;">Payment Confirmation</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<br> <br>
<label>Your payment has been succesful!</label>
Your payment has been successful!
<a style="font-size:20px;"  href="/">Click here to return to main page</a>
</body>
</html>