<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Query Patient By ID</title>
</head>
<body style="background-color:#98AFC7;">
<h1 style="text-align:center;">Enter PatientID</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<form method="post" action="/findPatientByID">
    <br><br>
    <div style="text-align:center">
    <input type="number" name="id" th:value="${patientID}">
        <br><br>
    <button style="background-color:#D1D0CE;" type="submit">Search</button>
    </div>
</form>
</body>
</html>