<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update Patient</title>
</head>
<body>
    <form method="post">
        <input type="hidden" name="patientID" th:field="${patient.patientID}">
        <label>Name</label>
        <input type="text" name="patientName" th:field="${patient.patientName}">
        <br>
        <label>Age</label>
        <input type="number" name="age" th:field="${patient.age}">
        <br>
        <label>Gender</label>
        <input type="text" name="gender" th:field="${patient.gender}">
        <br>
        <label>Medical Details</label>
        <input type="text" name="medicalDetails" th:field="${patient.medicalDetails}">
        <br>
        <label>Phone Number</label>
        <input type="text" name="phno" th:field="${patient.phno}">
        <br>
        <label>Email</label>
        <input type="email" name="email" th:field="${patient.email}">
        <br>
        <label>Address</label>
        <input type="text" name="address" th:field="${patient.address}">
        <br>
        <button type="submit">Update Patient</button>
    </form>
</body>
</html>