<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Employees</title>
</head>
<body style="background-color:#98AFC7;">
<h1 style="text-align:center;">All Employees</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<br>
<!--<p th:text="${title}"></p>-->
<table class="center">
    <thead>
    <tr>
        <th style="font-size:20px;" >Employee Name</th>
        <th style="font-size:20px;" >Username</th>
        <th style="font-size:20px;" >Gender</th>
        <th style="font-size:20px;" >Email</th>
        <th style="font-size:20px;" >Phone Number</th>
        <th style="font-size:20px;" >Address</th>
        <th style="font-size:20px;" >Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp : ${employees}">
        <td style="text-align:center">
            <p th:text="${emp.name}"></p>
        </td>
        <td>
            <p th:text="${emp.username}"></p>
        </td>
        <td>
            <p th:text="${emp.gender}"></p>
        </td>
        <td>
            <p th:text="${emp.email}"></p>
        </td>
        <td>
            <p th:text="${emp.phoneNumber}"></p>
        </td>
        <td>
            <p th:text="${emp.address}"></p>
        </td>
        <td>
            <p th:text="${emp.salary}"></p>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>
<style>
    table, th, td {
        width:100px;
        size:20px;
        border: 2px solid black;
        border-collapse: collapse;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>