<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Finding Nurse by ID</title>
</head>
<body style="background-color:#98AFC7;">
<h1 style="text-align:center;">Enter NurseID</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<form method="post" action="/findNurseByID">
  <br><br>
  <div style="text-align:center">
  <input type="number" name="id" th:value="${nurseID}">
    <br><br>
    <button style="background-color:#D1D0CE;" type="submit">Search</button>
  </div>
</form>
</body>
</html>