<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Nurse</title>
</head>
<body style="background-color:#98AFC7;">
<h1 style="text-align:center;">New Nurse Details</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<br>
<div class="form">
    <form method="post">
        <!-- what shit do we need to input here -->
        <input type="hidden" name="id" th:field="${nurse.nurseID}"/>
        <label>Name</label>
        <input type="text" name="name" th:field="${nurse.name}">
        <br> <br>
        <label>Username</label>
        <input type="text" name="username" th:field="${nurse.username}">
        <br> <br>
        <label>Password</label>
        <input type="password" name="password" th:field="${nurse.password}">
        <br> <br>
        <label>Salary</label>
        <input type="number" name="salary" th:field="${nurse.salary}">
        <br> <br>
        <label>Phone Number</label>
        <input type="text" name="phoneNumber" th:field="${nurse.phoneNumber}">
        <br> <br>
        <label>Gender</label>
        <input type="text" name="gender" th:field="${nurse.gender}">
        <br> <br>
        <label>Email</label>
        <input type="email" name="email" th:field="${nurse.email}">
        <br>  <br>
        <label>Address</label>
        <input type="text" name="address" th:field="${nurse.address}">
        <br><br>
        <div style="align=center;">
        <button style="text-align:center;" type="submit">Submit </button>
            <br><br>
        </div>
    </form>
</div>
</body>
</html>
<style type="text/css">
	.form {
		margin: 0 auto;
		width: 325px;
	}

	.form label{
		display: inline-block;
		text-align: right;
		float: left;
		font-size:20px;
	}

	.form input{
		display: inline-block;
		text-align: left;
		float: right;
	}
	.form button{
	display:inline-block;
	text-align:center;
	}
</style>