<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<p>This page is for navigating to other pages
</p>
<a href="/findDoctorByID">Query Doctor By ID</a>
<br>
<a href="/findDoctorByName">Query Doctor By Name</a>
<br>
<a href="/findDoctorBySpeciality">Query Doctor By Speciality</a>
<br>
<a href="/findPatientByID">Query Patient By ID</a>
<br>
<a href="/findPatientByName">Query Patient By Name</a>
<br>
<a href="/findNMPByID">Query Non-medical professionals by ID</a>
<br>
<a href="/findNMPByName">Query Non-medical professionals by name</a>
<br>
<a href="/findNMPByTitle">Query Non-medical professionals by title</a>
<br>
<a href="/findNurseByID">Query Nurses by ID</a>
<br>
<a href="/findNurseByName">Query Nurses by name</a>
<br>
<a href="/adddoctor">Add doctor</a>
<br>
<a href="/nmp/new">Add new Non medical professional</a>
<br>
<a href="/patient/new">Add new Patient</a>
<br>
</body>
</html>
