<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
 .alignleft {	float: left;font-size:40px;}
.alignright {	float: right;font-size:40px;}
.aligncenter{float:center; font-size:40px;}
</style>
</head>
<body style="background-color:#98AFC7;">

<h1 style="text-align:center; font-size:50px;">Menu Page</h1>
<div id="textbox" style="clear:both font-size:40px;">
    <h2 class="alignleft">Doctor Details</h2>
    <h2 class="alignright">NMP Details</h2>
    <h2 class="aligncenter">Nurse Details</h2>
</div>
<a href="/findDoctorByID" style="margin:10px">Query Doctor By ID</a>
<br>
<a href="/findDoctorByName">Query Doctor By Name</a>
<br>
<a href="/findDoctorBySpeciality">Query Doctor By Speciality</a>
<br>
<a href="/findPatientByID">Query Patient By ID</a>
<br>
<a href="/findPatientByName">Query Patient By Name</a>
<br>
<a href="/findNMPByID">Query Non-medical professionals by ID</a>
<br>
<a href="/findNMPByName">Query Non-medical professionals by name</a>
<br>
<a href="/findNMPByTitle">Query Non-medical professionals by title</a>
<br>
<a href="/findNurseByID">Query Nurses by ID</a>
<br>
<a href="/findNurseByName">Query Nurses by name</a>
<br>
<a href="/adddoctor">Add doctor</a>
<br>
<a href="/nmp/new">Add new Non medical professional</a>
<br>
<a href="/addnurse">Add nurse</a>
<br>
<a href="/patient/new">Add new Patient</a>
<br>
<a href="/transaction">Make payment</a>
<br>
<a href="/myUserDetails">My User Details</a>
</body>
</html>
