<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
</head>
<body>
<!-- add whatever details we need to display for doctor -->
<p th:text="${doctor.ID}"></p>
<p th:text="${employee.name}"></p>
<p th:text="${doctor.speciality}"></p>
<p th:text="${employee.address}"></p>
<a th:href="@{__${doctor.ID}__/delete}">delete</a>
<a th:href="@{__${doctor.ID}__/update}">Update</a>
<a th:href="@{__${doctor.ID}__/timings}">Show Timings</a>

</body>
</html>