<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Query Doctor by ID</title>
</head>
<body style="background-color:#98AFC7;">
<h1 style="text-align:center;">Enter Doctor ID</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<form method="post" action="/findDoctorByID">
    <br><br>
    <div style="text-align:center">
<input type="number" name="id" th:value="${id}">
    <br><br>
<button  type="submit">Search</button>
        <a href="/">Back to Main Page</a>
    </div>
</form>
</body>
</html>