<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Query by name</title>
</head>
<body style="background-color:#98AFC7;">
<h1 style="text-align:center;">Enter Doctor Name</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<form method="post">
    <br><br>
    <div style="text-align:center">
    <label>Name:</label>
    <input type="text" name="name" th:value="${name}">
        <br><br>
    <button type="submit">Search</button>
    </div>
</form>
</body>
</html>