<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Doctor working with Nurse</title>
</head>
<body style="background-color:#98AFC7;">
<h1 style="text-align:center;">Enter Nurse ID</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<form method="post" action="/findDocWorkingWith">
    <br><br>
    <div style="text-align:center">
        <input type="number" name="id" th:value="${id}">
        <br><br>
        <button  type="submit">Search</button>
        <a href="/">Back to Main Page</a>
    </div>
</form>
</body>
</html>