<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <style>h1{text-align:center;}
</style>
    <meta charset="UTF-8">
    <title>add doctor</title>
    <h1 style="text-align:center;">New Doctor Details</h1>
    <hr size="10px" width="50%"  style="background-color:black;">
    <br>
    <div class="form">
    <form method="post">
           <label>Name</label>
            <input type="text" name="name" th:value="${name}">
        <br><br>
            <label>Username</label>
            <input type="text" name="username" th:value="${username}">
        <br><br>
            <label>Password</label>
            <input type="password" name="password" th:value="${password}">
        <br><br>
        <label>Gender</label>
            <input type="text" name="gender" th:value="${gender}">
        <br><br>
        <label>Salary</label>
            <input type="text" name="Salary" th:value="${salary}">
        <br><br>
        <label>Phone number</label>
            <input type="text" name="phoneNumber" th:value="${phoneNumber}">
        <br><br>
       <label>Email</label>
            <input type="text" name="email" th:value="${email}">
        <br><br>
<label>Address</label>
            <input type="text"  name="address" th:value="${address}">
        <br><br>
<label>Fees</label>
            <input type="text" name="visitationFees" th:value="${visitationFees}">
        <br><br>
<label>Specialty</label>
            <input type="text" name="speciality" th:value="${speciality}">
        <br><br>
<label>Doc type</label>
            <input type="text" name="docType" th:value="${docType}">
        <br><br>
        <div style="text-align:center; font-size:20px">
            <button type="submit">Submit</button>
        </div>
    </form>
    </div>
</head>
<body style="background-color:#98AFC7;">

</body>
</html>
<style type="text/css">
	.form {
		margin: 0 auto;
		width: 325px;
	}

	.form label{
		display: inline-block;
		text-align: right;
		float: left;
		font-size:20px;
	}

	.form input{
		display: inline-block;
		text-align: left;
		float: right;
	}
</style>