<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showtimings</title>
</head>
<body style="background-color:#98AFC7;">
<h1 style="text-align:center;">Timings </h1>
<hr size="10px" width="50%"  style="background-color:black;">
<br>
<table class="center">
    <thead>
    <tr>
        <th>Slots</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="slot : ${slots}">
        <td>
            <p th:text="${slot.id}"></p>
            <p th:text="${slot.start_time}"></p>
            <p th:text="${slot.end_time}"></p>
        </td>
    </tr>
    </tbody>

</table>
<a href="/">Back to Main Page</a>
</body>
</html>
<style>
table, th, td {
  width:100px;
  size:20px;
  border: 2px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>