<!DOCTYPE html>
<<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find NMP by Name</title>
</head>
<body style="background-color:#98AFC7;">
<h1 style="text-align:center;">Enter NMP Name</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<form method="post">
    <br><br>
    <div style="text-align:center">
    <input type="text" name="name" th:object="${name}">
        <br><br>
    <button type="submit">Search Non medical professionals</button>
    </div>
</form>

</body>
</html>