<!DOCTYPE html>
<<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Query By ID</title>
</head>
<body style="background-color:#98AFC7;">
<h1 style="text-align:center;">Enter NMP ID</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<form method="post" action="/findNMPByID">
    <br><br>
    <div style="text-align:center">
<form method="post">
    <input type="number" name="id" th:value="${id}">
    <br><br>
    <button style="background-color:#D1D0CE;" type="submit">Search</button>
</form>
    </div>
</body>
</html>