<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New NMP</title>
</head>
<body style="background-color:#98AFC7; text-align:center;">
<h1 style="text-align:center;">New NMP</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<br>
<div class="form">
    <form method="post">
        <!-- what shit do we need to input here -->
        <input type="hidden" name="id" th:field="${nmp.ID}"/>
        <label>Name</label>
        <input type="text" name="name" th:field="${nmp.name}">
        <br><br>
        <label>Username</label>
        <input type="text" name="username" th:field="${nmp.username}">
        <br><br>
        <label>Password</label>
        <input type="password" name="password" th:field="${nmp.password}">
        <br><br>
        <label>Salary</label>
        <input type="number" name="salary" th:field="${nmp.salary}">
        <br><br>
        <label>Phone Number</label>
        <input type="text" name="phoneNumber" th:field="${nmp.phoneNumber}">
        <br><br>
        <label>Gender</label>
        <input type="text" name="gender" th:field="${nmp.gender}">
        <br><br>
        <label>Email</label>
        <input type="email" name="email" th:field="${nmp.email}">
        <br><br>
        <label>Address</label>
        <input type="text" name="address" th:field="${nmp.address}">
        <br><br>
        <label>Title of NMP</label>
        <input type="text" name="title" th:field="${nmp.title}">
        <br><br>
        <label>Start slot</label>
        <input type="text" name="startSlot" th:value="${startSlot}">
        <br><br>
        <label>End slot</label>
        <input type="text" name="endSlot" th:value="${endSlot}">
        <br><br>
        <label>Break slot</label>
        <input type="text" name="breaks" th:value="${breaks}">
        <br><br>
        <br><br>
        <div style="text-align:center; font-size:20px">
            <button style="background-color:#D1D0CE;" type="submit">Submit</button>
            <a href="/">Back to Main Page</a>
        <!--address and all idk I'll add later this is just for initial testing -->
    </div>
    </form>
</div>

</body>
</html>
<style type="text/css">
	.form {
		margin: 0 auto;
		width: 325px;
	}

	.form label{
		display: inline-block;
		text-align: right;
		float: left;
		font-size:20px;
	}

	.form input{
		display: inline-block;
		text-align: left;
		float: right;
	}
	.form button{
	display:inline-block;
	text-align:center;
	}
</style>