<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction details</title>
</head>
<body style="background-color:#98AFC7; text-align:center;">
<h1 style="text-align:center;">Transaction Details</h1>
<hr size="10px" width="50%"  style="background-color:black;">
<br>
<table class="center">
    <thead>
    <tr>
        <th style="font-size:20px;" >NMP ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
        <td style="text-align:center">
            <a th:text="${transaction.empid}"></a>
            <a th:text="${transaction.patientid}"></a>
            <a th:text="${transaction.totalcost}"></a>
            <a th:text="${transaction.transactiondate}"></a>
            <br>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>
<style>
table, th, td {
  width:100px;
  size:20px;
  border: 2px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>